.notiDiv{
    margin:5%;
    margin-left: 10%;
    padding:5%;
    background-color:rgb(183, 234, 238); 
    border-radius: 10%;
} 

.h2{
    text-align: center;
}

.supplierInfo{
    line-height: 0.5rem;
}

.btn{
    margin-left: 48em;
    margin-top: 6em;
} 

/* .editDeleteBtns{
} */