.container{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border: 8px solid rgb(123, 179, 224);
    padding: 10px;
    justify-content: space-around;
 }

 .cardImage {
    width:150px;
    height:150px;
}
.threeTabs{
    margin-left: 6em;
   
}

