#chartsList{
    width:200px;
    margin-left: 6em;
  }

  #chooseType{
    width:200px;
    margin-left: 16em;
  }


  .chartsForm {
    text-align: center;
    margin-top: 6%;
     }

    #charts-list{
      padding-right: 0.99em;
    }

    span{
      width:0.09%;
      display: inline-block;
      margin-left:2px;
      font-weight: bold;
    }


    .reportContainer{
        position: absolute;
        left: 20%;
        top:7%;
        height:110%;
        margin-left: -50px;
        padding-bottom: 0%;
        padding:2%;
        background-color:rgb(183, 234, 238); 
        border-radius: 10%;
    }

   
