html,
body {
  margin: 0;
  padding: 0;
}

.img{
    width:400px;
    height:400px;
} 

.imgproductInfo{
    margin:5%;
    margin-left:12%;
    display:grid;
    grid-template-columns: auto auto 
}

.h2{
  margin-right: 10em;
  }

  .h4{
  float: left;
  }

  .itemInfoContainer{
    margin:1%;
    padding:5%;
    background-color:rgb(183, 234, 238); 
    border-radius: 10%;
  }

  .gridBtns{
    display: grid;
    grid-template-columns: auto auto auto;  
  }

.priceSpan{
  margin-left: 10px;
}

.readonlyWidth{
  width:80px;
}

.orderGrid{
  display: grid;
  grid-template-columns: auto auto;
}

.orderWidth{
  width:80px;
}