.signupWrapper {
    border-radius: 20%;
    padding:10%;
    background-color: rgb(137, 222, 228);
    width: 700px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin:50px 50px
  }
  
  .signupForm{
    position: absolute;
    margin-top: -10%;
  }

  .btn{
    color: whitesmoke;
    background-color:#f54545;
    width: 180px;
    height:35px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px #999;
  }

  .btn :hover {opacity: 100}

  .signUp{
    text-align: center;
    margin-left: -1%;
  }
  